<?xml version="1.0" encoding="UTF-8"?>
<window>
	<defaultcontrol always="true">9000</defaultcontrol>
	
	<controls><!-- WRAPPER START --><control type="group"><centerleft>50%</centerleft><centertop>50%</centertop><width>1920</width><height>1080</height><!-- WRAPPER START -->
		
		<include>CommonBackground</include>
		<include>ContentPanelBackgrounds</include>
		
		<control type="group">
			<left>0</left>
			<top>0</top>
			
			<include>Window_OpenClose_Animation_Full</include>
			
			<include>SystemBackgroundAdditions</include>
			
			
			
			<!-- Left Tabs Menu -->
			<control type="list" id="9000">
				<left>0</left>
				<top>125</top>
				<width>510</width>
				<height>945</height>
				
				<onleft>9000</onleft>
				<onup>9000</onup>
				<ondown>9000</ondown>
				
				<scrolltime>300</scrolltime>
				
				<itemlayout height="96" width="510">
					<control type="image">
						<left>0</left>
						<top>0</top>
						<width>501</width>
						<height>96</height>
						<aspectratio aligny="center" align="right">keep</aspectratio>
						<texture>$INFO[ListItem.icon]</texture>
						<animation effect="fade" start="100" end="85" time="0" condition="true">Conditional</animation>
					</control>
					<control type="label">
						<left>75</left>
						<top>0</top>
						<width>435</width>
						<height>96</height>
						<font>Regular_Wider_25</font>
						<textcolor>grey2+</textcolor>
						<align>left</align>
						<aligny>center</aligny>
						<label>$INFO[ListItem.Label]</label>
					</control>
				</itemlayout>
				<focusedlayout height="96" width="510">
					<control type="image">
						<left>0</left>
						<top>0</top>
						<width>510</width>
						<height>96</height>
						<texture colordiffuse="$VAR[accentColorDiffuse]">_added_img/settings_category_active$VAR[isUhdScreenStringSuffix].png</texture>
						<aspectratio>keep</aspectratio>
						<animation effect="fade" start="100" end="50" time="0" condition="!Control.HasFocus(9000)">Conditional</animation>
					</control>
					<control type="image">
						<left>0</left>
						<top>0</top>
						<width>501</width>
						<height>96</height>
						<aspectratio aligny="center" align="right">keep</aspectratio>
						<texture>$INFO[ListItem.icon]</texture>
						<animation effect="fade" start="100" end="100" time="0" condition="true">Conditional</animation>
					</control>
					<control type="label">
						<left>75</left>
						<top>0</top>
						<width>435</width>
						<height>96</height>
						<font>Regular_Wider_25</font>
						<textcolor>white</textcolor>
						<align>left</align>
						<aligny>center</aligny>
						<label>$INFO[ListItem.Label]</label>
					</control>
				</focusedlayout>
				
				<content>
					<!-- Player -->
					<item id="1">
						<label>14200</label>
						<label2>31430</label2>
						<onclick>ActivateWindow(PlayerSettings)</onclick>
						<icon></icon>
						<property name="text">$INFO[Window(Home).Property(CinemaHelper.Language.Modified.31430)]</property>
					</item>
					<!-- Media -->
					<item id="2">
						<label>14211</label>
						<label2>31431</label2>
						<onclick>ActivateWindow(MediaSettings)</onclick>
						<icon></icon>
						<property name="text">$INFO[Window(Home).Property(CinemaHelper.Language.Modified.31431)]</property>
					</item>
					<!-- Kodi 18+ Games -->
					<item id="9">
						<label>15016</label>
						<label2>31002</label2>
						<onclick>ActivateWindow(GameSettings)</onclick>
						<visible>System.GetBool(gamesgeneral.enable)</visible>
						<icon></icon>
						<property name="text">$INFO[Window(Home).Property(CinemaHelper.Language.Modified.31002)]</property>
					</item>
					<!--dev-bc-->
					<!-- PVR / Live TV -->
					<item id="3">
						<label>14204</label>
						<label2>31432</label2>
						<onclick>ActivateWindow(PVRSettings)</onclick>
						<icon></icon>
						<property name="text">$INFO[Window(Home).Property(CinemaHelper.Language.Modified.31432)]</property>
					</item>
					<!-- Add-ons -->
					<item id="4">
						<label>24001</label>
						<label2>31433</label2>
						<onclick>ActivateWindow(AddonBrowser)</onclick>
						<icon></icon>
						<property name="text">$INFO[Window(Home).Property(CinemaHelper.Language.Modified.31433)]</property>
					</item>
					<!-- Services -->
					<item id="5">
						<label>14036</label>
						<label2>31434</label2>
						<onclick>ActivateWindow(ServiceSettings)</onclick>
						<icon></icon>
						<property name="text">$INFO[Window(Home).Property(CinemaHelper.Language.Modified.31434)]</property>
					</item>
					<!-- Interface -->
					<item id="6">
						<label>14206</label>
						<label2>31436</label2>
						<onclick>ActivateWindow(InterfaceSettings)</onclick>
						<icon></icon>
						<property name="text">$INFO[Window(Home).Property(CinemaHelper.Language.Modified.31436)]</property>
					</item>
					<!-- Skin settings -->
					<item id="7">
						<label>$VAR[SkinSettingsLabel]</label>
						<label2></label2>
						<onclick>ActivateWindow(SkinSettings)</onclick>
						<icon>_added_img/aczg_logo_settings$VAR[isUhdScreenStringSuffix].png</icon>
						<property name="text">Customize your skin</property>
					</item>
					<!-- System -->
					<item id="8">
						<label>13000</label>
						<label2>31435</label2>
						<onclick>ActivateWindow(SystemSettings)</onclick>
						<icon></icon>
						<property name="text">$INFO[Window(Home).Property(CinemaHelper.Language.Modified.31435)]</property>
					</item>
				</content>
				
			</control>
			
			<control type="group">
				<left>670</left>
				<top>270</top>
				<control type="image">
					<left>0</left>
					<top>17</top>
					<width>256</width>
					<height>256</height>
					<texture colordiffuse="$VAR[uiColorVariantKodiLogoColor]">kodi-logo-l$VAR[isUhdScreenStringSuffix].png</texture>
					<animation effect="fade" end="90" time="0" condition="true">Conditional</animation>
				</control>
				
				<control type="label">
					<left>23</left>
					<top>310</top>
					<width>960</width>
					<font>Regular24</font>
					<label>$INFO[Container(9000).ListItem.Label]</label>
					<align>left</align>
					<textcolor>white</textcolor>
				</control>
				
				<control type="textbox">
					<description>Appearance Description</description>
					<left>23</left>
					<top>372</top>
					<width>960</width>
					<font>Light18</font>
					<label>$VAR[SystemSectionText]</label>
					<textcolor>white</textcolor>
				</control>
				
			</control>
			
		</control>
		
		<include content="CommonWindowHeader">
			<param name="Icon" value="icon_system" />
			<param name="Label" value="$LOCALIZE[5]" />
		</include>
		
		
		<!-- skinInfo -->
		<control type="group">
			
			<include>Window_OpenClose_Animation_Full</include>
			
			<!-- + logo -->
			<control type="group">
				
				<include>VisibleFadeEffectSlower2</include>
				<visible>Container(9000).Hasfocus(7)</visible>
				
				<control type="group">
					<left>1001</left>
					<top>392</top>
					<width>45</width>
					<height>45</height>
					<!-- + -->
					<control type="image">
						<left>0</left>
						<top>0</top>
						<width>45</width>
						<height>45</height>
						<texture>_added_img/skininfo/skininfo-plus$VAR[isUhdScreenStringSuffix].png</texture>
					</control>
					
					<visible>Container(9000).Hasfocus(7)</visible>
					
					<animation type="Visible">
						<effect type="slide" start="-100,0" end="0,0" time="800" tween="quadratic" easing="out" />
						<effect type="zoom" start="80" end="100" time="800" center="auto" tween="sine" easing="inout" />
					</animation>
					<animation reversible="false" effect="zoom" end="80" start="100" time="800" center="auto" tween="sine" easing="inout">Hidden</animation>
					
				</control>
				<!-- logo -->
				<control type="image">
					<left>1049</left>
					<top>214</top>
					<width>400</width>
					<height>400</height>
					<texture>_added_img/skininfo/skininfo-aczg$VAR[isUhdScreenStringSuffix].png</texture>
					
					<visible>Container(9000).Hasfocus(7)</visible>
					
					<animation type="Visible">
						<effect type="slide" start="-100,0" end="0,0" time="800" tween="quadratic" easing="out" />
						<effect type="zoom" start="80" end="100" time="800" center="auto" tween="sine" easing="inout" />
					</animation>
					<animation reversible="false" effect="zoom" end="80" start="100" time="800" center="auto" tween="sine" easing="inout">Hidden</animation>
				</control>
			</control>
			
			
			
			<!-- below + and logo -->
			<control type="group">
				
				<include>VisibleFadeEffectSlower2</include>
				<visible>Container(9000).Hasfocus(7)</visible>
				
				
				<!-- banner -->
				<control type="group">
					<left>1075</left>
					<control type="image">
						<left>0</left>
						<top>574</top>
						<width>348</width>
						<height>54</height>
						<texture>_added_img/skininfo/skininfo-banner$VAR[isUhdScreenStringSuffix].png</texture>
						
						<visible>Container(9000).Hasfocus(7)</visible>
						
						<animation type="Visible">
							<effect type="slide" start="0,-54" end="0,0" time="800" tween="quadratic" easing="out" />
							<effect type="zoom" start="80" end="100" time="800" center="auto" tween="sine" easing="inout" />
						</animation>
						<animation reversible="false" effect="zoom" end="80" start="100" time="800" center="auto" tween="sine" easing="inout">Hidden</animation>
					</control>
					<control type="image">
						<left>4</left>
						<top>547</top>
						<width>73</width>
						<height>73</height>
						<texture>_added_img/skininfo/skininfo-banner-sparks.gif</texture>
						<visible>Container(9000).Hasfocus(7)</visible>
						
						<animation type="Visible">
							<effect type="slide" start="90,-140" end="0,0" time="800" tween="quadratic" easing="out" />
							<effect type="zoom" start="80" end="100" time="800" center="auto" tween="sine" easing="inout" />
						</animation>
						<animation reversible="false" effect="zoom" end="80" start="100" time="800" center="auto" tween="sine" easing="inout">Hidden</animation>
					</control>
					<control type="label">
						<left>-20</left>
						<top>645</top>
						<width>388</width>
						<height>40</height>
						<align>center</align>
						<font>RegularNonCondensed18.5</font>
						<label>$VAR[skinInfoText]</label>
						
						<visible>Container(9000).Hasfocus(7)</visible>
						
						<animation type="Visible">
							<effect type="fade" start="0" end="100" time="400" delay="600" tween="quadratic" easing="out" />
							<effect type="slide" start="0,-20" end="0,0" time="400" delay="600" tween="quadratic" easing="out" />
						</animation>
						<animation reversible="false" effect="zoom" end="80" start="100" time="800" center="auto" tween="sine" easing="inout">Hidden</animation>
					</control>
				</control>
				
				
				
				
				<!-- footnote -->
				<control type="group">
					
					<left>1074</left>
					<top>770</top>
					<width>348</width>
					<height>74</height>
					
					<!-- bounce bounce -->
					<control type="image">
						<left>158</left>
						<top>30</top>
						<width>34</width>
						<height>33</height>
						<texture>_added_img/skininfo/skininfo-em$VAR[isUhdScreenStringSuffix].png</texture>
						
						<visible>Container(9000).Hasfocus(7)</visible>
						
						<animation type="Visible">
							<effect type="fade" start="0" end="100" time="400" delay="600" tween="quadratic" easing="out" />
							<effect type="slide" start="0,36" end="0,0" time="1300" delay="5" easing="out" />
						</animation>
						<animation reversible="false" effect="zoom" end="80" start="100" time="800" center="auto" tween="sine" easing="inout">Hidden</animation>
						
						<animation effect="slide" end="0,-5" time="800" condition="true" pulse="true">Conditional</animation>
					</control>
					
					<control type="image">
						<left>80</left>
						<top>-52</top>
						<width>190</width>
						<height>190</height>
						<texture>_added_img/skininfo/cd$VAR[isUhdScreenStringSuffix].png</texture>
					</control>
					
					<control type="image">
						<left>276</left>
						<top>-29</top>
						<width>73</width>
						<height>44</height>
						<texture>_added_img/skininfo/cd-scn-me$VAR[isUhdScreenStringSuffix].png</texture>
						
						<visible>Container(9000).Hasfocus(7)</visible>
						
						<animation type="Visible">
							<effect type="fade" start="0" end="100" time="400" delay="800" tween="quadratic" easing="out" />
							<effect type="slide" start="-10,10" end="0,0" time="400" delay="800" tween="quadratic" easing="out" />
							<effect type="zoom" start="80" end="100" time="400" delay="800" center="auto" tween="sine" easing="inout" />
						</animation>
						<animation reversible="false" effect="zoom" end="80" start="100" time="800" center="auto" tween="sine" easing="inout">Hidden</animation>
						
					</control>
					
					<visible>Container(9000).Hasfocus(7)</visible>
						
					<animation type="Visible">
						<effect type="slide" start="0,-74" end="0,0" time="800" tween="quadratic" easing="out" />
						<effect type="zoom" start="80" end="100" time="800" center="auto" tween="sine" easing="inout" />
					</animation>
					<animation reversible="false" effect="zoom" end="80" start="100" time="800" center="auto" tween="sine" easing="inout">Hidden</animation>
				</control>
			</control>
			
		</control>
		
		
		
		<include>BehindDialogFadeOut</include>
		
	<include condition="Skin.HasSetting(EnableDebugOverlaySkinAndVars)">DebugOverlaySkinAndVars</include><include condition="Skin.HasSetting(EnableDebugOverlaySystemLoad)">DebugOverlaySystemLoad</include><!-- WRAPPER STOP --></control><!-- WRAPPER STOP --></controls>
</window>
