<settings version="2">
    <setting id="buildname" default="true" />
    <setting id="buildversion" default="true" />
    <setting id="buildtheme" default="true" />
    <setting id="latestversion" default="true" />
    <setting id="nextbuildcheck">2025-09-15 13:00:58</setting>
    <setting id="disableupdate" default="true">false</setting>
    <setting id="show19">true</setting>
    <setting id="separate">true</setting>
    <setting id="first_install">false</setting>
    <setting id="enable_all" default="true">false</setting>
    <setting id="time_started" default="true">0</setting>
    <setting id="installed">ignored</setting>
    <setting id="extract">100</setting>
    <setting id="errors" default="true">0</setting>
    <setting id="defaultskin" default="true" />
    <setting id="defaultskinname" default="true" />
    <setting id="defaultskinignore" default="true">false</setting>
    <setting id="default.enablerssfeeds" default="true" />
    <setting id="default.font" default="true" />
    <setting id="default.rssedit" default="true" />
    <setting id="default.skincolors" default="true" />
    <setting id="default.skintheme" default="true" />
    <setting id="default.skinzoom" default="true" />
    <setting id="default.soundskin" default="true" />
    <setting id="default.startupwindow" default="true" />
    <setting id="default.stereostrength" default="true" />
    <setting id="default.addonupdate" default="true" />
    <setting id="oldlog" default="true">false</setting>
    <setting id="wizlog" default="true">false</setting>
    <setting id="crashlog" default="true">false</setting>
    <setting id="path" default="true">special://home/</setting>
    <setting id="autoclean" default="true">false</setting>
    <setting id="clearcache" default="true">false</setting>
    <setting id="clearpackages" default="true">false</setting>
    <setting id="clearthumbs" default="true">false</setting>
    <setting id="autocleanfreq">3</setting>
    <setting id="nextautocleanup" default="true">2019-01-01 00:00:00</setting>
    <setting id="includevideo">true</setting>
    <setting id="includeall">true</setting>
    <setting id="includeexodusredux">true</setting>
    <setting id="includegaia">true</setting>
    <setting id="includenumbers">true</setting>
    <setting id="includescrubs">true</setting>
    <setting id="includeseren">true</setting>
    <setting id="includethecrew">true</setting>
    <setting id="includevenom">true</setting>
    <setting id="exodusredux" default="true" />
    <setting id="fen" default="true" />
    <setting id="gaia" default="true" />
    <setting id="numbers" default="true" />
    <setting id="openmeta" default="true" />
    <setting id="premiumizer" default="true" />
    <setting id="realizer" default="true" />
    <setting id="scrubs" default="true" />
    <setting id="seren" default="true" />
    <setting id="shadow" default="true" />
    <setting id="thecrew" default="true" />
    <setting id="tmdbhelper" default="true" />
    <setting id="trakt" default="true" />
    <setting id="venom" default="true" />
    <setting id="fenad" default="true" />
    <setting id="fenpm" default="true" />
    <setting id="fenrd" default="true" />
    <setting id="gaiaad" default="true" />
    <setting id="gaiapm" default="true" />
    <setting id="gaiard" default="true" />
    <setting id="pmzer" default="true" />
    <setting id="serenad" default="true" />
    <setting id="serenpm" default="true" />
    <setting id="serenpm-oauth" default="true" />
    <setting id="serenrd" default="true" />
    <setting id="rurlad" default="true" />
    <setting id="rurlpm" default="true" />
    <setting id="rurlrd" default="true" />
    <setting id="urlad" default="true" />
    <setting id="urlpm" default="true" />
    <setting id="urlrd" default="true" />
    <setting id="shadowad" default="true" />
    <setting id="shadowpm" default="true" />
    <setting id="shadowrd" default="true" />
    <setting id="easynews-fen" default="true" />
    <setting id="furk-fen" default="true" />
    <setting id="fanart-exodusredux" default="true" />
    <setting id="fanart-gaia" default="true" />
    <setting id="fanart-numbers" default="true" />
    <setting id="fanart-thecrew" default="true" />
    <setting id="fanart-metadatautils" default="true" />
    <setting id="fanart-premiumizer" default="true" />
    <setting id="fanart-realizer" default="true" />
    <setting id="fanart-scrubs" default="true" />
    <setting id="fanart-venom" default="true" />
    <setting id="fanart-seren" default="true" />
    <setting id="fanart-tmdbhelper" default="true" />
    <setting id="imdb-exodusredux" default="true" />
    <setting id="imdb-gaia" default="true" />
    <setting id="imdb-numbers" default="true" />
    <setting id="imdb-thecrew" default="true" />
    <setting id="imdb-premiumizer" default="true" />
    <setting id="imdb-realizer" default="true" />
    <setting id="imdb-scrubs" default="true" />
    <setting id="imdb-venom" default="true" />
    <setting id="kitsu-wonderfulsubs" default="true" />
    <setting id="login-iagl" default="true" />
    <setting id="login-netflix" default="true" />
    <setting id="mal-wonderfulsubs" default="true" />
    <setting id="omdb-metadatautils" default="true" />
    <setting id="omdb-metahandler" default="true" />
    <setting id="omdb-tmdbhelper">73014ffa</setting>
    <setting id="login-opensubtitles" default="true" />
    <setting id="login-opensubsbyopensubs" default="true" />
    <setting id="login-orion" default="true" />
    <setting id="tmdb-exodusredux" default="true" />
    <setting id="tmdb-fen">b370b60447737762ca38457bd77579b3</setting>
    <setting id="login-eis" default="true" />
    <setting id="tmdb-gaia" default="true" />
    <setting id="tmdb-numbers" default="true" />
    <setting id="tmdb-metadatautils" default="true" />
    <setting id="tmdb-eis" default="true" />
    <setting id="tmdb-openmeta" default="true" />
    <setting id="tmdb-thecrew" default="true" />
    <setting id="tmdb-premiumizer" default="true" />
    <setting id="tmdb-realizer" default="true" />
    <setting id="tmdb-scrubs" default="true" />
    <setting id="tmdb-seren" default="true" />
    <setting id="tmdb-tmdbhelper" default="true" />
    <setting id="tmdb-venom" default="true" />
    <setting id="trakt-openmeta" default="true" />
    <setting id="trakt-seren" default="true" />
    <setting id="tvdb-metahandler" default="true" />
    <setting id="tvdb-openmeta" default="true" />
    <setting id="tvdb-premiumizer" default="true" />
    <setting id="tvdb-realizer" default="true" />
    <setting id="tvdb-seren" default="true" />
    <setting id="location-yahoo" default="true" />
    <setting id="login-youtube" default="true" />
    <setting id="ws-wonderfulsubs" default="true" />
    <setting id="apk_path" default="true">/storage/emulated/0/Download/</setting>
    <setting id="keeptrakt">true</setting>
    <setting id="traktnextsave">2025-09-18 13:00:59</setting>
    <setting id="keepdebrid">true</setting>
    <setting id="debridnextsave">2025-09-18 13:00:59</setting>
    <setting id="keeplogin">true</setting>
    <setting id="loginnextsave">2025-09-18 13:00:59</setting>
    <setting id="keepfavourites">true</setting>
    <setting id="keepsources">true</setting>
    <setting id="keepprofiles" default="true">false</setting>
    <setting id="keepplayercore" default="true">false</setting>
    <setting id="keepguisettings" default="true">false</setting>
    <setting id="keepadvanced" default="true">false</setting>
    <setting id="keeprepos" default="true">false</setting>
    <setting id="keepsuper" default="true">false</setting>
    <setting id="keepwhitelist" default="true">false</setting>
    <setting id="developer" default="true">false</setting>
    <setting id="adult" default="true">false</setting>
    <setting id="auto-view">true</setting>
    <setting id="viewType">50</setting>
    <setting id="notify" default="true">false</setting>
    <setting id="noteid" default="true">0</setting>
    <setting id="notedismiss" default="true">false</setting>
    <setting id="debuglevel">1</setting>
    <setting id="wizardlog">true</setting>
    <setting id="autocleanwiz">true</setting>
    <setting id="wizlogcleanby">1</setting>
    <setting id="wizlogcleandays">2</setting>
    <setting id="wizlogcleansize">1</setting>
    <setting id="wizlogcleanlines">2</setting>
    <setting id="nextwizcleandate">2025-09-16 13:00:59</setting>
</settings>
