<settings>
    <setting id="show_mediaaudiochannelsflag" type="bool">false</setting>
    <setting id="simplyfiedosdvideo" type="bool">false</setting>
    <setting id="hide_recentlyaddedalbums" type="bool">false</setting>
    <setting id="tvshows.506" type="bool">false</setting>
    <setting id="seasons.507" type="bool">false</setting>
    <setting id="skinshortcuts-widget-MusicVideosWidget" type="bool">true</setting>
    <setting id="tmdbhelper.service" type="bool">false</setting>
    <setting id="showruntime" type="bool">false</setting>
    <setting id="enable_settings_background" type="bool">false</setting>
    <setting id="skinshortcuts-background-special://skin/extras/home-images/movies.jpg" type="bool">true</setting>
    <setting id="skinshortcuts-widget-MoviesWidget" type="bool">true</setting>
    <setting id="disable_pvrnextup" type="bool">false</setting>
    <setting id="skinshortcuts-background-special://skin/extras/home-images/favorites.jpg" type="bool">true</setting>
    <setting id="sets.51" type="bool">false</setting>
    <setting id="widgetAnimation3" type="bool">false</setting>
    <setting id="no_slide_animations" type="bool">false</setting>
    <setting id="albums.508" type="bool">false</setting>
    <setting id="setmovies.504" type="bool">false</setting>
    <setting id="skin_enableanimatedposters" type="bool">false</setting>
    <setting id="scopemode" type="bool">false</setting>
    <setting id="minimizemainmenu" type="bool">false</setting>
    <setting id="artists.506" type="bool">false</setting>
    <setting id="hide_recentlyaddedmusicvideos" type="bool">false</setting>
    <setting id="topnameitem" type="bool">false</setting>
    <setting id="trailerfullscreen" type="bool">false</setting>
    <setting id="artists.50" type="bool">false</setting>
    <setting id="hide_moviescategory" type="bool">false</setting>
    <setting id="skinshortcuts-background-special://skin/extras/home-images/video.jpg" type="bool">true</setting>
    <setting id="hide_radiocategories" type="bool">false</setting>
    <setting id="hide_nextaired" type="bool">false</setting>
    <setting id="skinshortcuts-widget-PicturesWidget" type="bool">false</setting>
    <setting id="artists.508" type="bool">false</setting>
    <setting id="homeclearlogo" type="bool">false</setting>
    <setting id="hide_allradios" type="bool">false</setting>
    <setting id="show_mediadurationflag" type="bool">false</setting>
    <setting id="artists.509" type="bool">false</setting>
    <setting id="movies.54" type="bool">false</setting>
    <setting id="opacity_60" type="bool">false</setting>
    <setting id="hide_recordingchannels" type="bool">false</setting>
    <setting id="sets.50" type="bool">false</setting>
    <setting id="enable_librarydiscartoverlay" type="bool">false</setting>
    <setting id="show_artistbanner" type="bool">false</setting>
    <setting id="hide_updatedtvshows" type="bool">false</setting>
    <setting id="setmovies.501" type="bool">false</setting>
    <setting id="show_wallviewlabels" type="bool">true</setting>
    <setting id="sets.54" type="bool">false</setting>
    <setting id="skinshortcuts-background-special://skin/extras/home-images/weather.jpg" type="bool">true</setting>
    <setting id="opacitybars_75" type="bool">false</setting>
    <setting id="seekbaropacity" type="bool">true</setting>
    <setting id="movies.504" type="bool">false</setting>
    <setting id="autoscroll" type="bool">true</setting>
    <setting id="widgetAnimation4" type="bool">false</setting>
    <setting id="episodes.55" type="bool">false</setting>
    <setting id="SkinShortcuts-FullMenu" type="bool">true</setting>
    <setting id="opacitybars_25" type="bool">false</setting>
    <setting id="widgetAnimation2" type="bool">true</setting>
    <setting id="extendedpowermenu" type="bool">false</setting>
    <setting id="seasons.510" type="bool">false</setting>
    <setting id="sets.53" type="bool">false</setting>
    <setting id="tmdbhelper.disableextendedproperties" type="bool">false</setting>
    <setting id="tmdbhelper.disableratings" type="bool">false</setting>
    <setting id="homeclearlogomenu" type="bool">false</setting>
    <setting id="opacity_95" type="bool">false</setting>
    <setting id="show_mediasourceflag" type="bool">false</setting>
    <setting id="show_mediarecordlabelflag" type="bool">false</setting>
    <setting id="enable_splash_background" type="bool">false</setting>
    <setting id="hide_unwatchedtvshows" type="bool">false</setting>
    <setting id="opacity_25" type="bool">false</setting>
    <setting id="opacity_85" type="bool">false</setting>
    <setting id="seasons.53" type="bool">false</setting>
    <setting id="show_dateairedflag" type="bool">false</setting>
    <setting id="hide_tvshowscategory" type="bool">false</setting>
    <setting id="artists.500" type="bool">false</setting>
    <setting id="widgetAnimation6" type="bool">false</setting>
    <setting id="movies.510" type="bool">false</setting>
    <setting id="sets.503" type="bool">false</setting>
    <setting id="movies.50" type="bool">false</setting>
    <setting id="setmovies.53" type="bool">false</setting>
    <setting id="show_artistclearlogo" type="bool">false</setting>
    <setting id="hide_nowrecordingradio" type="bool">false</setting>
    <setting id="opacitybars_15" type="bool">false</setting>
    <setting id="circle_rating" type="bool">true</setting>
    <setting id="hide_radiogroups" type="bool">false</setting>
    <setting id="widgetAnimation1" type="bool">true</setting>
    <setting id="skinshortcuts-background-special://skin/extras/home-images/addons.jpg" type="bool">true</setting>
    <setting id="enable_librarydiscart" type="bool">false</setting>
    <setting id="show_inet" type="bool">false</setting>
    <setting id="hide_recentlytvshows" type="bool">false</setting>
    <setting id="hide_androidapps" type="bool">false</setting>
    <setting id="opacity_20" type="bool">false</setting>
    <setting id="enable_playerclearlogo" type="bool">false</setting>
    <setting id="sets.55" type="bool">false</setting>
    <setting id="widgetAnimation7" type="bool">false</setting>
    <setting id="show_mediaaudiocodecflag" type="bool">false</setting>
    <setting id="skinshortcuts-background-special://skin/extras/home-images/games.jpg" type="bool">true</setting>
    <setting id="opacitybars_5" type="bool">false</setting>
    <setting id="enable_libraryclearlogo" type="bool">false</setting>
    <setting id="opacity_90" type="bool">false</setting>
    <setting id="movies.55" type="bool">false</setting>
    <setting id="hidewidgetlabels" type="bool">false</setting>
    <setting id="tvshows.55" type="bool">false</setting>
    <setting id="enable_power_background" type="bool">false</setting>
    <setting id="powermenu_iconlist" type="bool">true</setting>
    <setting id="enable_libraryclearart" type="bool">false</setting>
    <setting id="showbiglogososd" type="bool">true</setting>
    <setting id="skinshortcuts-widget-DiscWidget" type="bool">true</setting>
    <setting id="show_discart" type="bool">false</setting>
    <setting id="hide_videosources" type="bool">false</setting>
    <setting id="opacitybars_45" type="bool">false</setting>
    <setting id="opacitybars_0" type="bool">false</setting>
    <setting id="seasons.50" type="bool">false</setting>
    <setting id="tvshows.51" type="bool">false</setting>
    <setting id="cinfodialog_rating" type="bool">false</setting>
    <setting id="seasons.500" type="bool">false</setting>
    <setting id="showtrailerentry" type="bool">false</setting>
    <setting id="show_musicvideoinfo" type="bool">false</setting>
    <setting id="tmdbhelper.enablecolors" type="bool">false</setting>
    <setting id="tvshows.503" type="bool">false</setting>
    <setting id="opacitybars_80" type="bool">false</setting>
    <setting id="opacity_5" type="bool">false</setting>
    <setting id="hide_imageaddons" type="bool">false</setting>
    <setting id="tvshows.505" type="bool">false</setting>
    <setting id="hide_lastplayedradio" type="bool">false</setting>
    <setting id="opacity_15" type="bool">false</setting>
    <setting id="tvshows.507" type="bool">false</setting>
    <setting id="musicvideos.507" type="bool">false</setting>
    <setting id="skinshortcuts-widget-TVShowsWidget" type="bool">true</setting>
    <setting id="tvshows.501" type="bool">false</setting>
    <setting id="show_battery_colors" type="bool">false</setting>
    <setting id="seasons.506" type="bool">false</setting>
    <setting id="artists.505" type="bool">false</setting>
    <setting id="skinshortcuts-background-special://skin/extras/home-images/pictures.jpg" type="bool">true</setting>
    <setting id="hide_channelgroups" type="bool">false</setting>
    <setting id="opacity_35" type="bool">false</setting>
    <setting id="episodes.510" type="bool">false</setting>
    <setting id="opacitybars_60" type="bool">false</setting>
    <setting id="skinshortcuts-widget-MusicWidget" type="bool">true</setting>
    <setting id="opacity_10" type="bool">false</setting>
    <setting id="enable_scrollingtext" type="bool">false</setting>
    <setting id="enable_playerclearart" type="bool">false</setting>
    <setting id="albums.500" type="bool">false</setting>
    <setting id="skinshortcuts-background-special://skin/extras/home-images/coreelec.png" type="bool">true</setting>
    <setting id="show_mediastudioflag" type="bool">false</setting>
    <setting id="episodes.503" type="bool">false</setting>
    <setting id="widgetAnimation8" type="bool">false</setting>
    <setting id="opacitybars_10" type="bool">false</setting>
    <setting id="enableextrafanart" type="bool">false</setting>
    <setting id="opacitybars_95" type="bool">false</setting>
    <setting id="enable_homediscart" type="bool">false</setting>
    <setting id="artists.54" type="bool">false</setting>
    <setting id="musicvideos.502" type="bool">false</setting>
    <setting id="hide_fanartopacity" type="bool">false</setting>
    <setting id="opacitybars_20" type="bool">false</setting>
    <setting id="hide_allchannels" type="bool">false</setting>
    <setting id="extendedosdinfo" type="bool">false</setting>
    <setting id="infodialog_rating" type="bool">true</setting>
    <setting id="opacitybars_65" type="bool">false</setting>
    <setting id="enable_visualisation" type="bool">false</setting>
    <setting id="tvshows.53" type="bool">false</setting>
    <setting id="show_mediaresolutionflag" type="bool">false</setting>
    <setting id="hide_randommusicvideoartists" type="bool">false</setting>
    <setting id="opacity_0" type="bool">false</setting>
    <setting id="movies.501" type="bool">false</setting>
    <setting id="setmovies.507" type="bool">false</setting>
    <setting id="movies.507" type="bool">false</setting>
    <setting id="hide_mostplayedalbums" type="bool">false</setting>
    <setting id="hide_videoaddons" type="bool">false</setting>
    <setting id="enablesplashscreen" type="bool">false</setting>
    <setting id="hide_videoplaylists" type="bool">false</setting>
    <setting id="show_moviessetflag" type="bool">false</setting>
    <setting id="opacitybars_90" type="bool">false</setting>
    <setting id="tomatometeravgaudience" type="bool">false</setting>
    <setting id="touchmode" type="bool">false</setting>
    <setting id="tvshows.50" type="bool">false</setting>
    <setting id="hdriconsosd" type="bool">false</setting>
    <setting id="hide_disabledtimers" type="bool">false</setting>
    <setting id="movies.51" type="bool">false</setting>
    <setting id="opacity_45" type="bool">false</setting>
    <setting id="opacitybars_35" type="bool">false</setting>
    <setting id="powermenu_list" type="bool">false</setting>
    <setting id="tvshows.502" type="bool">false</setting>
    <setting id="hide_mediaflags" type="bool">false</setting>
    <setting id="skinshortcuts-widget-RadioWidget" type="bool">false</setting>
    <setting id="animate_artistslideshow" type="bool">false</setting>
    <setting id="movies.502" type="bool">false</setting>
    <setting id="dim_screen" type="bool">false</setting>
    <setting id="opacity_80" type="bool">false</setting>
    <setting id="greyedout_watched" type="bool">false</setting>
    <setting id="skinshortcuts-background-special://skin/extras/home-images/radio.jpg" type="bool">true</setting>
    <setting id="opacitybars_40" type="bool">false</setting>
    <setting id="smallosdvideo" type="bool">true</setting>
    <setting id="hide_lastplayedchannels" type="bool">false</setting>
    <setting id="show_breadcrumbs_countonly" type="bool">false</setting>
    <setting id="opacity_55" type="bool">false</setting>
    <setting id="show_replacement" type="bool">false</setting>
    <setting id="hide_randomalbums" type="bool">false</setting>
    <setting id="enablegradientcolor" type="bool">false</setting>
    <setting id="show_weatherinfo" type="bool">true</setting>
    <setting id="seasons.508" type="bool">false</setting>
    <setting id="setmovies.50" type="bool">false</setting>
    <setting id="hide_executableaddons" type="bool">false</setting>
    <setting id="seasons.51" type="bool">false</setting>
    <setting id="disable_pauseonextrainfos" type="bool">false</setting>
    <setting id="skinshortcuts-widget-GamesWidget" type="bool">false</setting>
    <setting id="forcedviews.enabled" type="bool">false</setting>
    <setting id="hidemainmenuwithwidgets" type="bool">false</setting>
    <setting id="tomatometeravgcritics" type="bool">false</setting>
    <setting id="stationlogo_border" type="bool">true</setting>
    <setting id="sets.505" type="bool">false</setting>
    <setting id="musicvideos.54" type="bool">false</setting>
    <setting id="albums.506" type="bool">false</setting>
    <setting id="hide_osdinfo" type="bool">false</setting>
    <setting id="setmovies.502" type="bool">false</setting>
    <setting id="episodes.54" type="bool">false</setting>
    <setting id="seasons.54" type="bool">false</setting>
    <setting id="enable_lyrics" type="bool">false</setting>
    <setting id="setmovies.505" type="bool">false</setting>
    <setting id="show_disc" type="bool">false</setting>
    <setting id="enablepvriconbg" type="bool">false</setting>
    <setting id="opacitybars_70" type="bool">false</setting>
    <setting id="tmdbhelper.disableartwork" type="bool">false</setting>
    <setting id="tmdbhelper.enablecrop" type="bool">false</setting>
    <setting id="show_clock" type="bool">true</setting>
    <setting id="artists.504" type="bool">false</setting>
    <setting id="use_posters" type="bool">false</setting>
    <setting id="skinshortcuts-background-special://skin/extras/home-images/musicvideos.jpg" type="bool">true</setting>
    <setting id="movies.505" type="bool">false</setting>
    <setting id="sets.507" type="bool">false</setting>
    <setting id="hide_genremovies" type="bool">false</setting>
    <setting id="movies.506" type="bool">false</setting>
    <setting id="skinshortcuts-widget-AddonsWidget" type="bool">true</setting>
    <setting id="sets.500" type="bool">false</setting>
    <setting id="hide_genretvshows" type="bool">false</setting>
    <setting id="hide_musicvideostudios" type="bool">false</setting>
    <setting id="skinshortcuts-widget-FavoritesWidget" type="bool">true</setting>
    <setting id="tmdbhelper.uselocalwidgetcontainer" type="bool">false</setting>
    <setting id="hide_background_fanart" type="bool">false</setting>
    <setting id="skinshortcuts-background-special://skin/extras/home-images/libreelec.png" type="bool">true</setting>
    <setting id="skinshortcuts-widget-WeatherWidget" type="bool">true</setting>
    <setting id="hide_videocategories" type="bool">false</setting>
    <setting id="hide_unwatchedmusicvideos" type="bool">false</setting>
    <setting id="showseekbar" type="bool">true</setting>
    <setting id="hide_recentlymovies" type="bool">false</setting>
    <setting id="disable_pvr_zerovalues" type="bool">false</setting>
    <setting id="tomatometerallcritics" type="bool">false</setting>
    <setting id="opacity_75" type="bool">false</setting>
    <setting id="videoinfo_nextupepisodes" type="bool">false</setting>
    <setting id="skinshortcuts-background-special://skin/extras/home-images/tvshows.jpg" type="bool">true</setting>
    <setting id="prefer_pvrfanart" type="bool">false</setting>
    <setting id="show_mediacolordepthflag" type="bool">false</setting>
    <setting id="sets.504" type="bool">false</setting>
    <setting id="hide_gameaddons" type="bool">false</setting>
    <setting id="enable_homediscartoverlay" type="bool">false</setting>
    <setting id="show_visualisationbehind" type="bool">false</setting>
    <setting id="circle_bothrating" type="bool">false</setting>
    <setting id="opacitybars_55" type="bool">false</setting>
    <setting id="background_showvideo" type="bool">false</setting>
    <setting id="disablethemes" type="bool">false</setting>
    <setting id="hide_recordingradio" type="bool">false</setting>
    <setting id="tvshows.54" type="bool">false</setting>
    <setting id="tmdbhelper.enabledesaturate" type="bool">false</setting>
    <setting id="seasons.55" type="bool">false</setting>
    <setting id="setmovies.503" type="bool">false</setting>
    <setting id="skinshortcuts-widget-VideoWidget" type="bool">true</setting>
    <setting id="hide_unwatchedmovies" type="bool">false</setting>
    <setting id="MenuLogoDefault" type="bool">false</setting>
    <setting id="hide_addonscategories" type="bool">false</setting>
    <setting id="hide_sets" type="bool">false</setting>
    <setting id="opacitybars_100" type="bool">false</setting>
    <setting id="show_fanart" type="bool">true</setting>
    <setting id="hide_musiccategory" type="bool">false</setting>
    <setting id="setmovies.510" type="bool">false</setting>
    <setting id="tvshows.510" type="bool">false</setting>
    <setting id="powermenu_panel" type="bool">false</setting>
    <setting id="tomatometerallaudience" type="bool">false</setting>
    <setting id="opacitybars_50" type="bool">false</setting>
    <setting id="hide_nextepisodes" type="bool">false</setting>
    <setting id="menulogoce" type="bool">true</setting>
    <setting id="opacitybars_85" type="bool">false</setting>
    <setting id="setmovies.51" type="bool">false</setting>
    <setting id="hide_inprogressmovies" type="bool">false</setting>
    <setting id="hide_randomartists" type="bool">false</setting>
    <setting id="opacity_65" type="bool">false</setting>
    <setting id="sets.506" type="bool">false</setting>
    <setting id="homebanner" type="bool">false</setting>
    <setting id="skinshortcuts-widget-PersonalWidgetList" type="bool">true</setting>
    <setting id="seasons.505" type="bool">false</setting>
    <setting id="musicvideos.55" type="bool">false</setting>
    <setting id="setmovies.55" type="bool">false</setting>
    <setting id="artists.53" type="bool">false</setting>
    <setting id="show_vsize" type="bool">true</setting>
    <setting id="skinshortcuts-background-special://skin/extras/home-images/music.jpg" type="bool">true</setting>
    <setting id="menulogole" type="bool">false</setting>
    <setting id="tmdbhelper.enableblur" type="bool">false</setting>
    <setting id="greyedout_watched_home" type="bool">false</setting>
    <setting id="kioskmode" type="bool">false</setting>
    <setting id="enable_animatedlyrics" type="bool">false</setting>
    <setting id="use_fullosdlist" type="bool">false</setting>
    <setting id="opacity_100" type="bool">false</setting>
    <setting id="widgetAnimation5" type="bool">false</setting>
    <setting id="hide_recentlyplayedalbums" type="bool">false</setting>
    <setting id="episodes.500" type="bool">false</setting>
    <setting id="circle_userrating" type="bool">false</setting>
    <setting id="hide_gtowidget" type="bool">false</setting>
    <setting id="enable_artistslideshow" type="bool">false</setting>
    <setting id="hide_plotforspoiler" type="bool">false</setting>
    <setting id="movies.503" type="bool">false</setting>
    <setting id="tvshows.504" type="bool">false</setting>
    <setting id="opacitybars_30" type="bool">false</setting>
    <setting id="albums.507" type="bool">false</setting>
    <setting id="tvshows.500" type="bool">false</setting>
    <setting id="musicvideos.510" type="bool">false</setting>
    <setting id="hide_searches" type="bool">false</setting>
    <setting id="opacity_70" type="bool">false</setting>
    <setting id="hide_randommovies" type="bool">false</setting>
    <setting id="hide_recordingtimers" type="bool">false</setting>
    <setting id="seasons.502" type="bool">false</setting>
    <setting id="no_animations" type="bool">false</setting>
    <setting id="usesmallercategories" type="bool">true</setting>
    <setting id="sets.502" type="bool">false</setting>
    <setting id="show_borders" type="bool">true</setting>
    <setting id="hide_tvcategories" type="bool">false</setting>
    <setting id="show_mpaaflag" type="bool">false</setting>
    <setting id="skin_enablepvrartwork" type="bool">false</setting>
    <setting id="hide_audioaddons" type="bool">false</setting>
    <setting id="albums.55" type="bool">false</setting>
    <setting id="musicvideos.506" type="bool">false</setting>
    <setting id="minimizeoptionsmenu" type="bool">false</setting>
    <setting id="hide_studiotvshows" type="bool">false</setting>
    <setting id="show_dateaddedflag" type="bool">false</setting>
    <setting id="hidepvrwidgetinfo" type="bool">false</setting>
    <setting id="show_mediaaspectratioflag" type="bool">false</setting>
    <setting id="background_showvisualisation" type="bool">false</setting>
    <setting id="musicvideos.500" type="bool">false</setting>
    <setting id="show_date" type="bool">true</setting>
    <setting id="show_mediavideocodecflag" type="bool">false</setting>
    <setting id="episodes.502" type="bool">false</setting>
    <setting id="opacity_40" type="bool">false</setting>
    <setting id="alt_color.lyrics" type="bool">false</setting>
    <setting id="setmovies.500" type="bool">false</setting>
    <setting id="use_posterview" type="bool">false</setting>
    <setting id="artists.55" type="bool">false</setting>
    <setting id="skinshortcuts-widget-LiveTVWidget" type="bool">true</setting>
    <setting id="hide_pubyear" type="bool">true</setting>
    <setting id="albums.54" type="bool">false</setting>
    <setting id="opacity_50" type="bool">false</setting>
    <setting id="show_breadcrumbs" type="bool">false</setting>
    <setting id="artists.507" type="bool">false</setting>
    <setting id="setmovies.506" type="bool">false</setting>
    <setting id="hide_musicvideocategory" type="bool">false</setting>
    <setting id="show_battery" type="bool">false</setting>
    <setting id="" type="bool">false</setting>
    <setting id="show_albumsartistflag" type="bool">false</setting>
    <setting id="sets.508" type="bool">false</setting>
    <setting id="hide_randommusicvideo" type="bool">false</setting>
    <setting id="skinshortcuts-background-special://skin/extras/home-images/livetv.jpg" type="bool">true</setting>
    <setting id="hide_nextrecordingradio" type="bool">false</setting>
    <setting id="setmovies.54" type="bool">false</setting>
    <setting id="hide_unplayedalbums" type="bool">false</setting>
    <setting id="skinshortcuts-background-special://skin/extras/home-images/disc.jpg" type="bool">true</setting>
    <setting id="enable_search_background" type="bool">false</setting>
    <setting id="musicvideos.53" type="bool">false</setting>
    <setting id="hide_inprogresstvshows" type="bool">false</setting>
    <setting id="enable_artistclearart" type="bool">false</setting>
    <setting id="show_mediaendtimeflag" type="bool">false</setting>
    <setting id="videoinfo_moviecastlist" type="bool">false</setting>
    <setting id="movies.53" type="bool">false</setting>
    <setting id="albums.53" type="bool">false</setting>
    <setting id="seasons.504" type="bool">false</setting>
    <setting id="movies.500" type="bool">false</setting>
    <setting id="opacity_30" type="bool">false</setting>
    <setting id="prefer_albumoverartistfanart" type="bool">false</setting>
    <setting id="enable_settingswidget" type="bool">false</setting>
    <setting id="sets.510" type="bool">false</setting>
    <setting id="tvshows.509" type="bool">false</setting>
    <setting id="hide_mostplayemusicvideos" type="bool">false</setting>
    <setting id="show_videoresolution" type="string"></setting>
    <setting id="skinshortcuts-widget-9" type="string">MusicWidget</setting>
    <setting id="skinshortcuts-widget-1" type="string">DiscWidget</setting>
    <setting id="ap_source" type="string"></setting>
    <setting id="skinshortcuts-widget-16" type="string">FavoritesWidget</setting>
    <setting id="WeatherIcons.path" type="string">resource://resource.images.weathericons.default/</setting>
    <setting id="weathericons.name" type="string">Weather Icons - Default</setting>
    <setting id="patterncolor" type="string"></setting>
    <setting id="skinshortcuts-widget-22" type="string">WeatherWidget</setting>
    <setting id="skinshortcuts-widget-17" type="string">WeatherWidget</setting>
    <setting id="skinshortcuts-widget-5" type="string">TVShowsWidget</setting>
    <setting id="skinshortcuts-widget-19" type="string">VideoWidget</setting>
    <setting id="skinshortcuts-widget-15" type="string">VideoWidget</setting>
    <setting id="studiologos.name" type="string">Studio Icons - Coloured</setting>
    <setting id="skinshortcuts-widget-18" type="string">WeatherWidget</setting>
    <setting id="gradientcolor" type="string"></setting>
    <setting id="WeatherIcons.ext" type="string">.png</setting>
    <setting id="TMDbHelper.Blur.Size" type="string"></setting>
    <setting id="TMDbHelper.Blur.Radius" type="string"></setting>
    <setting id="splash_background" type="string"></setting>
    <setting id="channelswitch_action" type="string"></setting>
    <setting id="skinshortcuts-widget-12" type="string">MusicVideosWidget</setting>
    <setting id="skinshortcuts-widget-14" type="string">AddonsWidget</setting>
    <setting id="skinshortcuts-widget-2" type="string">MoviesWidget</setting>
    <setting id="autostop_osd" type="string">31649</setting>
    <setting id="WeatherIcons.multi" type="string"></setting>
    <setting id="defaultosdbutton" type="string">36045</setting>
    <setting id="TMDbHelper.Date.Format" type="string"></setting>
    <setting id="MovieGenreFanart.path" type="string"></setting>
    <setting id="backgroundcolor" type="string"></setting>
    <setting id="LyricsColor3" type="string"></setting>
    <setting id="RatingStringColor" type="string"></setting>
    <setting id="LyricsColor1" type="string"></setting>
    <setting id="autoclose_osd" type="string">31580</setting>
    <setting id="shadowcolor" type="string"></setting>
    <setting id="bordercolor" type="string"></setting>
    <setting id="skinshortcuts-sharedmenu" type="string">true</setting>
    <setting id="recordlabels.path" type="string"></setting>
    <setting id="background_overlay" type="string"></setting>
    <setting id="power_background" type="string"></setting>
    <setting id="skinshortcuts-widget-4" type="string">PersonalWidgetList</setting>
    <setting id="moviegenreicons.name" type="string"></setting>
    <setting id="moviegenrefanart.name" type="string"></setting>
    <setting id="osdmediatime" type="string"></setting>
    <setting id="weatherfanart.name" type="string"></setting>
    <setting id="moviecountryicons.path" type="string"></setting>
    <setting id="skinshortcuts-widget-13" type="string">LiveTVWidget</setting>
    <setting id="spinner_type" type="string"></setting>
    <setting id="skinshortcuts-widget-3" type="string">MoviesWidget</setting>
    <setting id="PvrIconBG" type="string"></setting>
    <setting id="moviegenreicons.path" type="string"></setting>
    <setting id="studiologos.ext" type="string">.png</setting>
    <setting id="skinshortcuts-widget-6" type="string">TVShowsWidget</setting>
    <setting id="skinshortcuts-widget-20" type="string">FavoritesWidget</setting>
    <setting id="LyricsColor2" type="string"></setting>
    <setting id="WeatherFanart.path" type="string"></setting>
    <setting id="skinshortcuts-widget-11" type="string">MusicVideosWidget</setting>
    <setting id="settings_background" type="string"></setting>
    <setting id="studiologos.path" type="string">resource://resource.images.studios.coloured/</setting>
    <setting id="recordlabels.name" type="string"></setting>
    <setting id="widget_action" type="string"></setting>
    <setting id="skincolor" type="string"></setting>
    <setting id="skinshortcuts-widget-7" type="string">PersonalWidgetList</setting>
    <setting id="episodesdisplay" type="string"></setting>
    <setting id="widget_action_pvr" type="string"></setting>
    <setting id="skinshortcuts-widget-10" type="string">PersonalWidgetList</setting>
    <setting id="mediaflagscolor" type="string"></setting>
    <setting id="WeatherFanart.ext" type="string"></setting>
    <setting id="LyricsColor4" type="string"></setting>
    <setting id="skinshortcuts-widget-8" type="string">MusicWidget</setting>
    <setting id="widgetnumber" type="string"></setting>
    <setting id="UserRatingStringColor" type="string"></setting>
    <setting id="scope_mode" type="string"></setting>
    <setting id="osdmusicmediatime" type="string"></setting>
    <setting id="global-background" type="string"></setting>
    <setting id="search_background" type="string"></setting>
    <setting id="MovieGenreFanart.ext" type="string"></setting>
    <setting id="skinshortcuts-widget-21" type="string">WeatherWidget</setting>
</settings>
